#container {
  display: flex;
  /* flex: 1 1 0; */
  flex-wrap: wrap;
  max-width: 100vh;
}

div-squares {
  border: 1px solid black;
  min-width: 50px;
  min-height: 50px;
  background-color: red;
}

div-squares:hover {
  background-color: rgba(212, 13, 83, 0.426);
}
